* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: KodeMono, sans-serif;
}

@font-face {
    font-family: KodeMono;
    src: url(fonts/Kode_Mono/KodeMono-VariableFont_wght.ttf);
}

.clearBtn {
    font-size: 2rem;
    /* text-align: center; */
}



div#displayResult {
    height: 80px;
    width: 500px;
    margin: 50px;
    /* border: 1px solid black; */
    color: mediumturquoise;
    font-size: 3rem;
    text-align: center;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* align-content: center; */
    justify-content: center;
}

button {
    /* margin-left: 50px; */
    background-color: transparent;
    border: none;
    color: mediumturquoise;
    font-size: inherit;
}

button#O {
    margin-right: 50px;
}

.btns {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30vh;
    width: 92vw;
    font-size: 5rem;
}


body {
    background-color: cadetblue;
    font-size: 16px;
}

.square {
    background-color: cadetblue;
}

.container {
    /* position: absolute; */
    /* top: 0; */
    /* right: 0; */
    /* bottom: 0; */
    /* left: 0; */
    /* margin: auto; */
    /* border: 1px solid black; */
    width: 320px;
    height: 320px;
}

.squareContainer {
    display: grid;
    grid-template: repeat(3, 100px) / repeat(3, 100px);
    background: mediumturquoise;
    grid-gap: 10px;
}


.circle {
    width: 90px;
    height: 90px; 
    border-radius: 50%;
    margin: 5px;
}

.topCircle {
   border-top: 10px solid mediumturquoise;   
}


.leftCircle {
   border-left: 10px solid mediumturquoise;
}

.bottomCircle {
    border-bottom: 10px solid mediumturquoise;
}

.rightCircle {
    border: 10px solid mediumturquoise;
}

.cross {
    height: 100px;
    position: relative;
    padding-left: 45px;
    
}

.cross::before,
.cross::after {
    content: '';
    position: absolute;
    width: 10px;
    height: 0%;
    background-color: mediumturquoise;
}

.cross::before {
    transform: rotate(225deg);
}

.cross::after {
    transform: rotate(-50deg);
}

.cross.drawn::before {
    height: 100%; 
}

.cross.drawnLater::after {
    height: 100%; 
}




